html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
img.cover_art {
	max-height: 200px;
	float: left;
	margin-right: 25px;
}
#book-data {
	margin-top: 25px;
	font-size: 10pt;
}
#book-delete-data {
	margin-top: -5px;
	font-size: 10pt;
}
.bookResult {
	font-size: 10pt;	
}
/* Form Styling */
label {
    margin-top: 15px;
    display: block;
    font-size: 10.5pt;
}
input {
	display: block;
	margin-top: 5px;
}
.indexBook {
	display:block;
	clear:left;

}
.indexBook .cover_art{
	max-height: 200px;
	float: left;
	margin-right: 25px;
	margin-bottom: 50px;
}

.indexBook p.details {
	font-style: italic;
	font-size: .9em;
	margin: 0;
}
.indexBook h3 {
	margin-bottom: 5px;
}
.indexBook p.action-links a {
	font-style: italic;
	font-size: .9em;
	color: darkred;
}
.indexBook p.action-links{
	margin-top: 5px;
	margin-bottom: 5px
}

/* Session Flash Message */
#message {
    background-color: lightblue;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 23px;
}
#message>p {
	margin: 5px 0 0 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8pt;
}
nav ul {
	list-style-type: none;
	margin-top: 5px;
	padding: 0;
}
nav ul li {
	display: inline;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 8.75pt;
    text-decoration: none;
    color: darkred;
}
nav ul li a {
	text-decoration: none;
	color: darkred;
}
nav ul li a:hover {
	font-style: italic;
}
body {
	margin-left: 25px;
	margin-top: 15px;
}


